<header class="header">
  <div class="container">
    <div class="logo">COMPACT</div>
    <button>What is Framer ?</button>
  </div>
</header>

<style>
  .header {
    height: 100px;
    width: 100%;
    background-color: #0e1015;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  div.logo {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #918ced;
    justify-content: flex-start;
  }

  .header button {
    padding: 12px 24px;
    background-color: #14171f;
    color: #e3e4e8;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    transition: ease-in-out 0.4s;
  }

  .header button:hover {
    background-color: #2b2f3b;
  }
</style>
